@import 'variables';

#about {
    width: 100%;
    .container {
        padding: 75px 0 16px 0;
        display: flex;
        flex-direction: column;
        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &.intro-general {
            }
            @media only screen and (min-width: 970px) {
                &.intro-general {
                    display: flex;
                    height: 64.4vw;
                }
            }
            @media only screen and (min-width: 1330px) {
                &.intro-general {
                    height: 900px;
                }
            }
            .intro-general_text {
                width: 100%;
                h2 {
                    color: $dark-pink;
                    margin-bottom: 50px;
                }
                @media only screen and (min-width: 600px) {
                    h2 {
                        margin-bottom: 80px;
                    }
                }
                .intro-general_text_desc {
                    color: $grey-20;
                    line-height: 33px;
                }
                .intro-general_text_desc:nth-child(2) {
                    margin-bottom: 50px;
                }
                @media only screen and (min-width: 600px) {
                    .intro-general_text_desc:nth-child(2) {
                        margin-bottom: 80px;
                    }
                }
            }
            @media only screen and (min-width: 970px) {
                .intro-general_text {
                    width: 420px;
                }
            }
            .intro-general_icons {
                margin: 50px 0 0 -25px;
                position: relative;
                height: 575px;
                width: 44%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                .intro-general_icon {
                    position: relative;
                    display: flex;
                    background-color: $white; 
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 0 0 16px 2px rgba(21, 21, 21, 0.07);
                    p {
                        font-size: 16px;
                        padding-left: 33px;
                        font-weight: 400;
                        width: 100%;
                        text-align: left;
                    }
                    @media only screen and (min-width: 970px) {
                        p {
                            font-size: 1.4vw;
                            padding-left: 3.4vw;
                        }
                    }
                    @media only screen and (min-width: 1920px) {
                        p {
                            padding-left: 65px;
                            font-size: 27px;
                        }
                    }
                    &.seat {
                        position: absolute;
                        top: 34px;
                        left: 0;
                        height: 204.7px;
                        width: 190.3px;
                        color: $black;
                        padding-top: 20px;
                        z-index: 3;
                        img{
                            height: 107.7px;
                            width: 114.4px;
                        }
                    }
                    @media only screen and (min-width: 970px) {
                        &.seat {
                            top: 3.5vw;
                            left: 0;
                            width: 17.56vw;
                            height: 21.1vw;
                            img{
                                width: 11.1vw;
                                height: 11.8vw;
                            }
                        }
                    }
                    @media only screen and (min-width: 1330px) {
                        &.seat {
                            position: absolute;
                            left: 0;
                            z-index: 2;
                        }
                    }
                    @media only screen and (min-width: 1920px) {
                        &.seat {
                            position: absolute;
                            top: 68px;
                            left: 0;
                            img{
                                width: 213.9px;
                                height: 226.55px;
                            }
                        }
                    }
                    &.wheel {
                        position: absolute;
                        top: 135px;
                        left: 125px;
                        height: 204.7px;
                        width: 180.3px;
                        color: $blue-10;
                        padding-top: 30px;
                        z-index: 2;
                        p {
                            padding-left: 43.65px;
                        }
                        img{
                            margin-left: 50px;
                            height: 109.6px;
                            width: 109.6px;
                        }
                    }
                    @media only screen and (min-width: 321px) {
                        &.wheel {
                            left: 150px;
                            width: 200.3px;
                            img{
                                margin-left: 0px;
                            }
                        }
                    }
                    @media only screen and (min-width: 470px) {
                        &.wheel {
                            left: 175px;
                            top: 164px;
                        }
                    }
                    @media only screen and (min-width: 970px) {
                        &.wheel {
                            top: 16.9vw;
                            left: 16.4vw;
                            width: 17.56vw;
                            height: 21.1vw;
                            p {
                                padding-left: 4.5vw;
                            }
                            img{
                                width: 11.3vw;
                                height: 11.3vw;
                            }
                        }
                    }
                    @media only screen and (min-width: 1330px) {
                        &.wheel {
                            position: absolute;
                            top: 19.8vw;
                            left: 16.4vw;
                            z-index: 1;
                        }
                    }
                    @media only screen and (min-width: 1920px) {
                        &.wheel {
                            position: absolute;
                            top: 381px;
                            left: 315px;
                            p {
                                padding-left: 90px;
                            }
                            img{
                                width: 216.2px;
                                height: 216.2px;
                            }
                        }
                    }
                    &.emission {
                        position: absolute;
                        top: 329px;
                        left: 22px;
                        height: 223px;
                        width: 190.3px;
                        color: $dark-pink;
                        padding-top: 20px;
                        z-index: 2;
                        img {
                            height: 126.1px;
                            width: 115.4px;
                        }
                    }
                    @media only screen and (min-width: 970px) {
                        &.emission {
                            top: 33.9vw;
                            left: 2.3vw;
                            width: 17.56vw;
                            height: 23vw;
                            img {
                                width: 13vw;
                                height: 11.9vw;
                            }
                        }
                    }
                    @media only screen and (min-width: 1330px) {
                        &.emission {
                            position: absolute;
                            top: 6.9vw;
                            left: 31vw;
                            z-index: 1;
                        }
                    }
                    @media only screen and (min-width: 1920px) {
                        &.emission {
                            position: absolute;
                            height: 446px;
                            top: 132px;
                            left: 594px;
                            img{
                                width: 248.4px;
                                height: 218.5px;
                            }
                        }
                    }
                }
                @media only screen and (min-width: 970px) {
                    .intro-general_icon {
                        width: 17.56vw;
                        height: 21.1vw;
                    }
                }
                @media only screen and (min-width: 1330px) {
                    .intro-general_icon {
                        
                    }
                }
                @media only screen and (min-width: 1920px) {
                    .intro-general_icon {
                        width: 337px;
                        height: 405px;
                    }
                }  
            }
            @media only screen and (min-width: 450px) {
                .intro-general_icons {
                    margin-left: 0px;
                }
            }
            @media only screen and (min-width: 600px) {
                .intro-general_icons {
                    margin: 0 auto;
                }
            }
            @media only screen and (min-width: 970px) {
                .intro-general_icons {
                    margin: 0;
                    height: auto;
                }
            }
            @media only screen and (min-width: 1330px) {
                .intro-general_icons {
                    position: relative;
                    width: 60%;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
            &.intro-details {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                .intro-details_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    img {
                        margin-top: -20px;
                        width: 297px;
                        height: 263px;
                    }
                    @media only screen and (min-width: 970px) {
                        img {
                            margin-top: -60px;
                            margin-left: -20px;
                        }
                    }
                    @media only screen and (min-width: 1330px) {
                        img {
                            margin-top: 0px;
                        }
                    }
                    .intro-details_box_places {
                        margin-top: 75px;
                        width: auto;
                        p {
                            color: $black;
                            font-weight: 600;
                            line-height: 30px;
                        }
                        p:nth-child(3) {
                            color: $dark-pink;
                        }
                        p:nth-child(7) {
                            margin-bottom: 84px;
                        }
                    }
                    @media only screen and (min-width: 970px) {
                    .intro-details_box_places {
                        margin-top: 0px;
                        width: 329px;
                    }
                }
                }
                @media only screen and (min-width: 850px) {
                    .intro-details_box {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-top: 75px;
                    }
                }
                @media only screen and (min-width: 970px) {
                    .intro-details_box {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-top: 75px;
                    }
                }
                @media only screen and (min-width: 1330px) {
                    .intro-details_box {
                        width: auto;
                        display: block;
                        margin-top: 0px;
                    }
                }
                .intro-details_text {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    @media only screen and (max-width:1330px) {
                        img {
                            display: none;
                        }
                    }
                    .intro-details_text_box {
                        background-color: $white;
                        h2 {
                            color: $blue-20;
                            padding: 38px 0 10px 0px;
                        }
                        @media only screen and (min-width: 1330px) {
                            h2 {
                                padding: 38px 0 10px 48px;
                            }
                        }
                        .intro-details_text_desc {
                            margin-top: 25px;
                            color: $grey-30;
                            line-height: 29px;
                        }
                        @media only screen and (min-width: 970px) {
                            .intro-details_text_desc {
                                width: 625px;
                            }
                        }
                        @media only screen and (min-width: 1330px) {
                            .intro-details_text_desc {
                                padding-left: 46px;
                                margin-top: 0px;
                                width: 580px;
                            }
                        }
                    }
                    @media only screen and (min-width: 970px) {
                        .intro-details_text_box {
                            width: 75%;
                        }
                    }
                    @media only screen and (min-width: 1330px) {
                        .intro-details_text_box {
                            width: 662px;
                            height: 328px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
                        }
                    }
                }
                @media only screen and (min-width: 1330px) {
                    .intro-details_text {
                        width: 62.9vw;
                        height: 32.3vw;
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        width: auto;
                    }
                }
            }
            @media only screen and (min-width: 1330px) {
                &.intro-details {
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }
        }
    }
    @media only screen and (min-width: 6000px) {
        .container {
            padding: 129px 0 16px 0;
        }
    }
}