@import 'variables';

@font-face {
  font-family: myFontDaniel;
  src: url(../font/danielbd.ttf);
}

@keyframes animatetop {
   from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero {
    height: 840px;
    width: 100%;
    background-image: url(../img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    .container {
        padding: 70px 0 90px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            display: flex;
            justify-content: space-between;
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 999; /* Sit on top */
                right: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: $white; /* Fallback color */
                .close {
                    position: absolute;
                    top: 5%;
                    left: 90vw;
                    color: $black;
                    float: right;
                    font-size: 40px;
                    font-weight: bold;
                }
                .close:hover,
                    .close:focus {
                    color: $dark-pink;
                    text-decoration: none;
                    cursor: pointer;
                }
                .modal-content {
                    position: absolute;
                    top: 15%;
                    left: 7.5vw;
                    animation: animatetop ease 0.8s;
                    li {
                        padding: 25px 0 25px 0;
                        a {
                            transition-duration: 0.33s; 
                            text-decoration: none;
                            color: $black;
                            font-weight: 400;
                            font-size: 40px;
                        }
                        a:hover {
                            color: $dark-pink;
                        }
                    }
                }
                @media only screen and (min-width: 600px) {
                    .modal-content {
                        left: 40vw;
                    }
                }
            }
            @media only screen and (min-width: 600px) {
                .logo {
                    animation: fade-in-right ease 1s forwards;
                }
            }
            .nav {
                display: flex;
                align-items: center;
                height: 22px;
                .nav_label {
                    color: $white;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-right: 18px;
                }
                .nav_burger {
                    display: block;
                    position: relative;
                    z-index: 1;
                    -webkit-user-select: none;
                    user-select: none;
                    input {
                        display: block;
                        width: 40px;
                        height: 32px;
                        position: absolute;
                        top: -7px;
                        left: -5px;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 2;
                        -webkit-touch-callout: none;
                    }
                    span {
                        width: 42px;
                        height: 2px;
                        display: block;
                        background-color: $white;
                        margin-bottom: 5px;
                        position: relative;
                        border-radius: 3px;
                        z-index: 1;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
                    }
/*                    span:first-child {
                        transform-origin: 0% 0%;
                    }
                    span:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }
                    input:checked ~ span {
                        background-color: $black;
                        opacity: 1;
                        transform: rotate(45deg) translate(1px, -2px);
                    }
                    input:checked ~ span:nth-child(4) {
                        transform: rotate(-45deg) translate(-7px, 7px);
                    }
                    input:checked ~ span:nth-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }*/
                }
            }
            @media only screen and (min-width: 600px) {
                .nav {
                    animation: fade-in-right ease 2s forwards;
                }
            }
        }
        .hero-bottom {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 30px;
                color: $white;
                font-weight: 500;
            }
            @media only screen and (min-width: 600px) {
                h1 {
                    animation: fade-in-right ease 1s forwards;
                }
            }
            p {
                color: $white;
                font-size: 60px;
                font-weight: 600;
            }
            p:nth-child(2) {
                line-height: 90px;
                text-transform: uppercase;
            }
            @media only screen and (min-width: 600px) {
                p:nth-child(2) {
                    animation: fade-in-right ease 1.5s forwards;
                }
            }
            p:nth-child(3) {
                color: $white;
                font-family: myFontDaniel;
                font-size: 41px;
            }
            @media only screen and (min-width: 600px) {
                p:nth-child(3) {
                    animation: fade-in-right ease 2s forwards;
                }
            }
            img {
                width: 343px;
            }
        }
    }
}

