@import 'variables';

#newsfeed {
    width: 100%;
    .container {
        h2 {
                color: $dark-pink;
                padding-top: 65px;
            }
        .news-general {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .news-general_content {
                img {
                    padding-top: 59px;
                }
                img:nth-child(1) {
                    width: 78.42vw;
                }
                img:nth-child(2) {
                    width: 78.6vw;
                }
                img:nth-child(3) {
                    width: 78.42vw;
                }
                @media screen and (min-width: 570px) {
                    img:nth-child(1) {
                        width: auto;
                    }
                    img:nth-child(2) {
                        width: auto;
                    }
                    img:nth-child(3) {
                        width: auto;
                    }
                }
                h3 {
                    color: $dark-pink;
                    font-size: 30px;
                    font-weight: 400;
                    padding-top: 28px;
                    text-align: center;
                }
                p {
                    padding: 33px 0 0 15px;
                    color: $grey-40;
                    line-height: 26px;
                    width: 100%;
                }
                @media screen and (min-width: 570px) {
                    p {
                        width: 439px;
                    }
                }
                .news-general_content_text {
                    padding: 21px 0 0 15px;
                }
                #more-1 {
                    display: none;
                }
                #more-2 {
                    display: none;
                }
                #more-3 {
                    display: none;
                }
                button {
                    padding-top: 10px;
                    width: 100%;
                    height: 42px;
                    background-color: $white;
                    border: 0px;
                    border-top: 1px solid $grey-60;
                    color: $black;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 33px;
                    cursor: pointer;
                }
                @media screen and (min-width: 570px) {
                    button {
                        width: 439px;
                    }
                }
                button:focus {
                    outline:0;
                }
            }
        }
    }
}