@import 'variables';

footer {
    margin-top: 81px;
    background-color: $navy-blue;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        .foto-general {
            margin-top: 90px;
            .foto-general_top {
                margin-bottom: 71px;
            }
            .foto-general_bottom {
                margin-bottom: 25px;
                img:first-child {
                    margin-right: 28px;
                }
            }
            @media only screen and (min-width: 1100px) {
                .foto-general_bottom {
                    margin-bottom: 90px;
                }
            }
        }
        .info-general {
            margin-top: 50px; 
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                padding-bottom: 30px;
                color: $white;
                font-size: 16px;
                font-weight: 400;
                line-height: 17px;
            }
            a:first-child {
                color: $white;
                font-weight: 600;
            }
            a:last-child {
                padding-bottom: 0px;
            }
        }
        .info-general:last-child {
                margin-bottom: 75px;
            }
        @media only screen and (min-width: 1100px) {
            .info-general {
                margin-top: 85px;
            }
        }
        @media only screen and (min-width: 1100px) {
            .info-general:last-child {
                margin-bottom: 0px;
            }
        }
    }
    @media only screen and (min-width: 1100px) {
        .container {
            flex-direction: row;
        }
    }
}